// Footer Start
.container-fluid.bg-secondary.text-dark.mt-5.pt-5
  .row.px-xl-5.pt-5
    .col-lg-4.col-md-12.mb-5.pr-3.pr-xl-5
      a.text-decoration-none(href='')
        h1.mb-4.display-5.font-weight-semi-bold
          span.text-primary.font-weight-bold.border.border-white.px-3.mr-1 E
          | Shopper
      p
        | Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.
      p.mb-2
        i.fa.fa-map-marker-alt.text-primary.mr-3
        | 123 Street, New York, USA
      p.mb-2
        i.fa.fa-envelope.text-primary.mr-3
        | info@example.com
      p.mb-0
        i.fa.fa-phone-alt.text-primary.mr-3
        | +012 345 67890
    .col-lg-8.col-md-12
      .row
        .col-md-4.mb-5
          h5.font-weight-bold.text-dark.mb-4 Quick Links
          .d-flex.flex-column.justify-content-start
            a.text-dark.mb-2(href='/')
              i.fa.fa-angle-right.mr-2
              | Home
            a.text-dark.mb-2(href='shop')
              i.fa.fa-angle-right.mr-2
              | Our Shop
            a.text-dark.mb-2(href='detail')
              i.fa.fa-angle-right.mr-2
              | Shop Detail
            a.text-dark.mb-2(href='cart')
              i.fa.fa-angle-right.mr-2
              | Shopping Cart
            a.text-dark.mb-2(href='checkout')
              i.fa.fa-angle-right.mr-2
              | Checkout
            a.text-dark(href='contact')
              i.fa.fa-angle-right.mr-2
              | Contact Us
        .col-md-4.mb-5
          h5.font-weight-bold.text-dark.mb-4 Quick Links
          .d-flex.flex-column.justify-content-start
            a.text-dark.mb-2(href='/')
              i.fa.fa-angle-right.mr-2
              | Home
            a.text-dark.mb-2(href='shop')
              i.fa.fa-angle-right.mr-2
              | Our Shop
            a.text-dark.mb-2(href='detail')
              i.fa.fa-angle-right.mr-2
              | Shop Detail
            a.text-dark.mb-2(href='cart')
              i.fa.fa-angle-right.mr-2
              | Shopping Cart
            a.text-dark.mb-2(href='checkout')
              i.fa.fa-angle-right.mr-2
              | Checkout
            a.text-dark(href='contact')
              i.fa.fa-angle-right.mr-2
              | Contact Us
        .col-md-4.mb-5
          h5.font-weight-bold.text-dark.mb-4 Newsletter
          form(action='')
            .form-group
              input.form-control.border-0.py-4(type='text', placeholder='Your Name', required='required')
            .form-group
              input.form-control.border-0.py-4(type='email', placeholder='Your Email', required='required')
            div
              button.btn.btn-primary.btn-block.border-0.py-3(type='submit') Subscribe Now
  .row.border-top.border-light.mx-xl-5.py-4
    .col-md-6.px-xl-0
      p.mb-md-0.text-center.text-md-left.text-dark
        | &copy; 
        a.text-dark.font-weight-semi-bold(href='#') Your Site Name
        | . All Rights Reserved. Designed by
        a.text-dark.font-weight-semi-bold(href='https://htmlcodex.com') HTML Codex
    .col-md-6.px-xl-0.text-center.text-md-right
      img.img-fluid(src='./assets/img/payments.png', alt='')
// Footer End