#id01.modal
  form.modal-content.animate(action='/auth/login' method='get')
    .imgcontainer
      span.close(onclick="document.getElementById('id01').style.display='none'" title='Close Modal') ×
    .container
      label(for='username')
        b Username
      input(type='text' placeholder='Enter Username' name='username' required='')
      label(for='password')
        b Password
      input(type='password' placeholder='Enter Password' name='password' required='')
      button#login-btn.button-6(type='submit') Login
      div.social-media-buttons
        a(href="/auth/google").loginBtn.loginBtn--google Continue with Google
        br
        a(href="/auth/facebook").loginBtn.loginBtn--facebook Continue with Facebook
      label
        input(type='checkbox' checked='checked' name='remember')
        |  Remember me
    .container(style='background-color:#f1f1f1')
      button#login-btn.button-6(type='button' onclick="document.getElementById('id01').style.display='none'") Cancel
      
      span.psw
        | Forgot 
        a(href='#') password?
script.
  // Get the modal
  var modal = document.getElementById('id01');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
  if (event.target == modal) {
  modal.style.display = "none";
  }
  }
