nav#navbar.navbar
  ul
    li
      a.active(href='/') Home
    li
      a(href='about') About
    li
      a(href='services') Services
    li
      a(href='portfolio') Portfolio
    li
      a(href='team') Team
    li
      a(href='blog') Blog
    li.dropdown
      a(href='#')
        span Dropdown
        |  
        i.bi.bi-chevron-down.dropdown-indicator
      ul
        li
          a(href='#') Dropdown 1
        li.dropdown
          a(href='#')
            span Deep Dropdown
            |  
            i.bi.bi-chevron-down.dropdown-indicator
          ul
            li
              a(href='#') Deep Dropdown 1
            li
              a(href='#') Deep Dropdown 2
            li
              a(href='#') Deep Dropdown 3
            li
              a(href='#') Deep Dropdown 4
            li
              a(href='#') Deep Dropdown 5
        li
          a(href='#') Dropdown 2
        li
          a(href='#') Dropdown 3
        li
          a(href='#') Dropdown 4
    li
      a(href='contact') Contact
// .navbar