extends layout

block content
  body.page-blog
    // ======= Header =======
    header#header.header.d-flex.align-items-center.fixed-top
      .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
        a.logo.d-flex.align-items-center(href='index')
          // Uncomment the line below if you also wish to use an image logo
          // <img src="assets/img/logo.png" alt="">
          h1.d-flex.align-items-center= name
        i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
        i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x
        include ./includes/navbar
        // .navbar
    // End Header
    main#main
      // ======= Breadcrumbs =======
      .breadcrumbs.d-flex.align-items-center(style="background-image: url('assets/img/blog-header.jpg');")
        .container.position-relative.d-flex.flex-column.align-items-center
          h2 Blog
          ol
            li
              a(href='index') Home
            li Blog
      // End Breadcrumbs
      // ======= Blog Section =======
      section#blog.blog
        .container(data-aos='fade-up')
          .row.g-5
            .col-lg-8(data-aos='fade-up', data-aos-delay='200')
              .row.gy-5.posts-list
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-1.jpg', alt='')
                    h2.title
                      a(href='blog-details') Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-2.jpg', alt='')
                    h2.title
                      a(href='blog-details') Nisi magni odit consequatur autem nulla dolorem
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-3.jpg', alt='')
                    h2.title
                      a(href='blog-details') Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit sint.
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et. Eum temporibus fugiat voluptate enim tenetur sunt omnis.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-4.jpg', alt='')
                    h2.title
                      a(href='blog-details')
                        | Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius exercitationem.
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-5.jpg', alt='')
                    h2.title
                      a(href='blog-details') Accusamus quaerat aliquam qui debitis facilis consequatur
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | In itaque assumenda aliquam voluptatem qui temporibus iusto nisi quia. Autem vitae quas aperiam nesciunt mollitia tempora odio omnis. Ipsa odit sit ut amet necessitatibus. Quo ullam ut corrupti autem consequuntur totam dolorem.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
                .col-lg-6
                  article.d-flex.flex-column
                    .post-img
                      img.img-fluid(src='assets/img/blog/blog-6.jpg', alt='')
                    h2.title
                      a(href='blog-details') Distinctio provident quibusdam numquam aperiam aut
                    .meta-top
                      ul
                        li.d-flex.align-items-center
                          i.bi.bi-person
                          |  
                          a(href='blog-details') John Doe
                        li.d-flex.align-items-center
                          i.bi.bi-clock
                          |  
                          a(href='blog-details')
                            time(datetime='2022-01-01') Jan 1, 2022
                        li.d-flex.align-items-center
                          i.bi.bi-chat-dots
                          |  
                          a(href='blog-details') 12 Comments
                    .content
                      p
                        | Expedita et temporibus eligendi enim molestiae est architecto praesentium dolores. Illo laboriosam officiis quis. Labore officia quia sit voluptatem nisi est dignissimos totam. Et voluptate et consectetur voluptatem id dolor magni impedit. Omnis dolores sit.
                    .read-more.mt-auto.align-self-end
                      a(href='blog-details')
                        | Read More 
                        i.bi.bi-arrow-right
                // End post list item
              // End blog posts list
              .blog-pagination
                ul.justify-content-center
                  li
                    a(href='#') 1
                  li.active
                    a(href='#') 2
                  li
                    a(href='#') 3
              // End blog pagination
            .col-lg-4(data-aos='fade-up', data-aos-delay='400')
              .sidebar.ps-lg-4
                .sidebar-item.search-form
                  h3.sidebar-title Search
                  form.mt-3(action='')
                    input(type='text')
                    button(type='submit')
                      i.bi.bi-search
                // End sidebar search formn
                .sidebar-item.categories
                  h3.sidebar-title Categories
                  ul.mt-3
                    li
                      a(href='#')
                        | General 
                        span (25)
                    li
                      a(href='#')
                        | Lifestyle 
                        span (12)
                    li
                      a(href='#')
                        | Travel 
                        span (5)
                    li
                      a(href='#')
                        | Design 
                        span (22)
                    li
                      a(href='#')
                        | Creative 
                        span (8)
                    li
                      a(href='#')
                        | Educaion 
                        span (14)
                // End sidebar categories
                .sidebar-item.recent-posts
                  h3.sidebar-title Recent Posts
                  .mt-3
                    .post-item.mt-3
                      img.flex-shrink-0(src='assets/img/blog/blog-recent-1.jpg', alt='')
                      div
                        h4
                          a(href='blog-post') Nihil blanditiis at in nihil autem
                        time(datetime='2020-01-01') Jan 1, 2020
                    // End recent post item
                    .post-item
                      img.flex-shrink-0(src='assets/img/blog/blog-recent-2.jpg', alt='')
                      div
                        h4
                          a(href='blog-post') Quidem autem et impedit
                        time(datetime='2020-01-01') Jan 1, 2020
                    // End recent post item
                    .post-item
                      img.flex-shrink-0(src='assets/img/blog/blog-recent-3.jpg', alt='')
                      div
                        h4
                          a(href='blog-post') Id quia et et ut maxime similique occaecati ut
                        time(datetime='2020-01-01') Jan 1, 2020
                    // End recent post item
                    .post-item
                      img.flex-shrink-0(src='assets/img/blog/blog-recent-4.jpg', alt='')
                      div
                        h4
                          a(href='blog-post') Laborum corporis quo dara net para
                        time(datetime='2020-01-01') Jan 1, 2020
                    // End recent post item
                    .post-item
                      img.flex-shrink-0(src='assets/img/blog/blog-recent-5.jpg', alt='')
                      div
                        h4
                          a(href='blog-post') Et dolores corrupti quae illo quod dolor
                        time(datetime='2020-01-01') Jan 1, 2020
                    // End recent post item
                // End sidebar recent posts
                .sidebar-item.tags
                  h3.sidebar-title Tags
                  ul.mt-3
                    li
                      a(href='#') App
                    li
                      a(href='#') IT
                    li
                      a(href='#') Business
                    li
                      a(href='#') Mac
                    li
                      a(href='#') Design
                    li
                      a(href='#') Office
                    li
                      a(href='#') Creative
                    li
                      a(href='#') Studio
                    li
                      a(href='#') Smart
                    li
                      a(href='#') Tips
                    li
                      a(href='#') Marketing
                // End sidebar tags
              // End Blog Sidebar
      // End Blog Section
    // End #main
    // ======= Footer =======
    include ./includes/footer
    // End Footer
    a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
