extends layout

block content
  body
    // Topbar
    include ./includes/topbar

    // Nav
    include ./includes/Nav

    // Page Header Start
    .container-fluid.bg-secondary.mb-5
      .d-flex.flex-column.align-items-center.justify-content-center(style='min-height: 300px')
        h1.font-weight-semi-bold.text-uppercase.mb-3 Checkout
        .d-inline-flex
          p.m-0
            a(href='') Home
          p.m-0.px-2 -
          p.m-0 Checkout
    // Page Header End
    // Checkout Start
    .container-fluid.pt-5
      .row.px-xl-5
        .col-lg-8
          .mb-4
            h4.font-weight-semi-bold.mb-4 Billing Address
            .row
              .col-md-6.form-group
                label First Name
                input.form-control(type='text', placeholder='John')
              .col-md-6.form-group
                label Last Name
                input.form-control(type='text', placeholder='Doe')
              .col-md-6.form-group
                label E-mail
                input.form-control(type='text', placeholder='example@email.com')
              .col-md-6.form-group
                label Mobile No
                input.form-control(type='text', placeholder='+123 456 789')
              .col-md-6.form-group
                label Address Line 1
                input.form-control(type='text', placeholder='123 Street')
              .col-md-6.form-group
                label Address Line 2
                input.form-control(type='text', placeholder='123 Street')
              .col-md-6.form-group
                label Country
                select.custom-select
                  option(selected='') United States
                  option Afghanistan
                  option Albania
                  option Algeria
              .col-md-6.form-group
                label City
                input.form-control(type='text', placeholder='New York')
              .col-md-6.form-group
                label State
                input.form-control(type='text', placeholder='New York')
              .col-md-6.form-group
                label ZIP Code
                input.form-control(type='text', placeholder='123')
              .col-md-12.form-group
                .custom-control.custom-checkbox
                  input#newaccount.custom-control-input(type='checkbox')
                  label.custom-control-label(for='newaccount') Create an account
              .col-md-12.form-group
                .custom-control.custom-checkbox
                  input#shipto.custom-control-input(type='checkbox')
                  label.custom-control-label(for='shipto', data-toggle='collapse', data-target='#shipping-address') Ship to different address
          #shipping-address.collapse.mb-4
            h4.font-weight-semi-bold.mb-4 Shipping Address
            .row
              .col-md-6.form-group
                label First Name
                input.form-control(type='text', placeholder='John')
              .col-md-6.form-group
                label Last Name
                input.form-control(type='text', placeholder='Doe')
              .col-md-6.form-group
                label E-mail
                input.form-control(type='text', placeholder='example@email.com')
              .col-md-6.form-group
                label Mobile No
                input.form-control(type='text', placeholder='+123 456 789')
              .col-md-6.form-group
                label Address Line 1
                input.form-control(type='text', placeholder='123 Street')
              .col-md-6.form-group
                label Address Line 2
                input.form-control(type='text', placeholder='123 Street')
              .col-md-6.form-group
                label Country
                select.custom-select
                  option(selected='') United States
                  option Afghanistan
                  option Albania
                  option Algeria
              .col-md-6.form-group
                label City
                input.form-control(type='text', placeholder='New York')
              .col-md-6.form-group
                label State
                input.form-control(type='text', placeholder='New York')
              .col-md-6.form-group
                label ZIP Code
                input.form-control(type='text', placeholder='123')
        .col-lg-4
          .card.border-secondary.mb-5
            .card-header.bg-secondary.border-0
              h4.font-weight-semi-bold.m-0 Order Total
            .card-body
              h5.font-weight-medium.mb-3 Products
              .d-flex.justify-content-between
                p Colorful Stylish Shirt 1
                p $150
              .d-flex.justify-content-between
                p Colorful Stylish Shirt 2
                p $150
              .d-flex.justify-content-between
                p Colorful Stylish Shirt 3
                p $150
              hr.mt-0
              .d-flex.justify-content-between.mb-3.pt-1
                h6.font-weight-medium Subtotal
                h6.font-weight-medium $150
              .d-flex.justify-content-between
                h6.font-weight-medium Shipping
                h6.font-weight-medium $10
            .card-footer.border-secondary.bg-transparent
              .d-flex.justify-content-between.mt-2
                h5.font-weight-bold Total
                h5.font-weight-bold $160
          .card.border-secondary.mb-5
            .card-header.bg-secondary.border-0
              h4.font-weight-semi-bold.m-0 Payment
            .card-body
              .form-group
                .custom-control.custom-radio
                  input#paypal.custom-control-input(type='radio', name='payment')
                  label.custom-control-label(for='paypal') Paypal
              .form-group
                .custom-control.custom-radio
                  input#directcheck.custom-control-input(type='radio', name='payment')
                  label.custom-control-label(for='directcheck') Direct Check
              div
                .custom-control.custom-radio
                  input#banktransfer.custom-control-input(type='radio', name='payment')
                  label.custom-control-label(for='banktransfer') Bank Transfer
            .card-footer.border-secondary.bg-transparent
              button.btn.btn-lg.btn-block.btn-primary.font-weight-bold.my-3.py-3 Place Order
    // Checkout End

    // Footer
    include ./includes/footer