doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title EShopper - Bootstrap Shop Template
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(content='Free HTML Templates' name='keywords')
    meta(content='Free HTML Templates' name='description')
    // Favicon
    link(href='img/favicon.ico' rel='icon')
    // Google Web Fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
    // Libraries Stylesheet
    link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
    // Customized Bootstrap Stylesheet
    link(href='css/style.css' rel='stylesheet')
    


    // Back to Top
    a.btn.btn-primary.back-to-top(href='#')
      i.fa.fa-angle-double-up
    // JavaScript Libraries
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
    script(src='./assets/lib/easing/easing.min.js')
    script(src='./assets/lib/owlcarousel/owl.carousel.min.js')
    // Contact Javascript File
    script(src='./assets/mail/jqBootstrapValidation.min.js')
    script(src='./assets/mail/contact.js')
    // Template Javascript
    script(src='./assets/js/main.js')











doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Forrest&apos;s Site
    meta(content='', name='description')
    meta(content='', name='keywords')
    // Favicons
    link(href='./assets/img/favicon.png', rel='icon')
    link(href='./assets/img/apple-touch-icon.png', rel='apple-touch-icon')
    // Google Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap', rel='stylesheet')
    // Vendor CSS Files
    link(href='./assets/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='./assets/vendor/bootstrap-icons/bootstrap-icons.css', rel='stylesheet')
    link(href='./assets/vendor/aos/aos.css', rel='stylesheet')
    link(href='./assets/vendor/glightbox/css/glightbox.min.css', rel='stylesheet')
    link(href='./assets/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
    link(href='./assets/vendor/remixicon/remixicon.css', rel='stylesheet')
    // Template Main CSS File
    link(href='./assets/css/main.css', rel='stylesheet')
    //
      =======================================================
      * Template Name: Nova - v1.0.0
      * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ========================================================
  
    block content

    // Vendor JS Files
    script(src='./assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='./assets/vendor/aos/aos.js')
    script(src='./assets/vendor/glightbox/js/glightbox.min.js')
    script(src='./assets/vendor/swiper/swiper-bundle.min.js')
    script(src='./assets/vendor/isotope-layout/isotope.pkgd.min.js')
    script(src='./assets/vendor/php-email-form/validate.js')
    // Template Main JS File
    script(src='./assets/js/main.js')