extends layout

block content
  body.page-portfolio
    // ======= Header =======
    header#header.header.d-flex.align-items-center.fixed-top
      .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
        a.logo.d-flex.align-items-center(href='/')
          // Uncomment the line below if you also wish to use an image logo
          // <img src="assets/img/logo.png" alt="">
          h1.d-flex.align-items-center= name
        i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
        i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x
        include ./includes/navbar
        // .navbar
    // End Header
    main#main
      // ======= Breadcrumbs =======
      .breadcrumbs.d-flex.align-items-center(style="background-image: url('assets/img/portfolio-header.jpg');")
        .container.position-relative.d-flex.flex-column.align-items-center
          h2 Portfolio
          ol
            li
              a(href='/') Home
            li Portfolio
      // End Breadcrumbs
      // ======= Portfolio Section =======
      section#portfolio.portfolio
        .container(data-aos='fade-up')
          .portfolio-isotope(data-portfolio-filter='*', data-portfolio-layout='masonry', data-portfolio-sort='original-order')
            ul.portfolio-flters(data-aos='fade-up', data-aos-delay='100')
              li.filter-active(data-filter='*') All
              li(data-filter='.filter-app') App
              li(data-filter='.filter-product') Product
              li(data-filter='.filter-branding') Branding
              li(data-filter='.filter-books') Books
            // End Portfolio Filters
            .row.gy-4.portfolio-container(data-aos='fade-up', data-aos-delay='300')
              .col-lg-4.col-md-6.portfolio-item.filter-app
                img.img-fluid(src='assets/img/portfolio/app-1.jpg', alt='')
                .portfolio-info
                  h4 App 1
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/app-1.jpg', title='App 1', data-gallery='portfolio-gallery-app')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-product
                img.img-fluid(src='assets/img/portfolio/product-1.jpg', alt='')
                .portfolio-info
                  h4 Product 1
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/product-1.jpg', title='Product 1', data-gallery='portfolio-gallery-product')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-branding
                img.img-fluid(src='assets/img/portfolio/branding-1.jpg', alt='')
                .portfolio-info
                  h4 Branding 1
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/branding-1.jpg', title='Branding 1', data-gallery='portfolio-gallery-branding')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-books
                img.img-fluid(src='assets/img/portfolio/books-1.jpg', alt='')
                .portfolio-info
                  h4 Books 1
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/books-1.jpg', title='Branding 1', data-gallery='portfolio-gallery-book')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-app
                img.img-fluid(src='assets/img/portfolio/app-2.jpg', alt='')
                .portfolio-info
                  h4 App 2
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/app-2.jpg', title='App 2', data-gallery='portfolio-gallery-app')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-product
                img.img-fluid(src='assets/img/portfolio/product-2.jpg', alt='')
                .portfolio-info
                  h4 Product 2
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/product-2.jpg', title='Product 2', data-gallery='portfolio-gallery-product')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-branding
                img.img-fluid(src='assets/img/portfolio/branding-2.jpg', alt='')
                .portfolio-info
                  h4 Branding 2
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/branding-2.jpg', title='Branding 2', data-gallery='portfolio-gallery-branding')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-books
                img.img-fluid(src='assets/img/portfolio/books-2.jpg', alt='')
                .portfolio-info
                  h4 Books 2
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/books-2.jpg', title='Branding 2', data-gallery='portfolio-gallery-book')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-app
                img.img-fluid(src='assets/img/portfolio/app-3.jpg', alt='')
                .portfolio-info
                  h4 App 3
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/app-3.jpg', title='App 3', data-gallery='portfolio-gallery-app')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-product
                img.img-fluid(src='assets/img/portfolio/product-3.jpg', alt='')
                .portfolio-info
                  h4 Product 3
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/product-3.jpg', title='Product 3', data-gallery='portfolio-gallery-product')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-branding
                img.img-fluid(src='assets/img/portfolio/branding-3.jpg', alt='')
                .portfolio-info
                  h4 Branding 3
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/branding-3.jpg', title='Branding 2', data-gallery='portfolio-gallery-branding')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
              .col-lg-4.col-md-6.portfolio-item.filter-books
                img.img-fluid(src='assets/img/portfolio/books-3.jpg', alt='')
                .portfolio-info
                  h4 Books 3
                  p Lorem ipsum, dolor sit amet consectetur
                  a.glightbox.preview-link(href='assets/img/portfolio/books-3.jpg', title='Branding 3', data-gallery='portfolio-gallery-book')
                    i.bi.bi-zoom-in
                  a.details-link(href='portfolio-details.html', title='More Details')
                    i.bi.bi-link-45deg
              // End Portfolio Item
            // End Portfolio Container
      // End Portfolio Section
    // End #main
    // ======= Footer =======
    include ./includes/footer
    // End Footer
    a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
