extends layout

block content
  body.page-portfolio
  // ======= Header =======
  header#header.header.d-flex.align-items-center.fixed-top
    .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
      a.logo.d-flex.align-items-center(href='/')
        // Uncomment the line below if you also wish to use an image logo
        // <img src="assets/img/logo.png" alt="">
        h1.d-flex.align-items-center= name
      i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
      i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x
      include ./includes/navbar
      // .navbar
  // End Header
  main#main
    // ======= Breadcrumbs =======
    .breadcrumbs.d-flex.align-items-center(style="background-image: url('assets/img/portfolio-header.jpg');")
      .container.position-relative.d-flex.flex-column.align-items-center
        h2 Portfolio Details
        ol
          li
            a(href='/') Home
          li Portfolio Details
    // End Breadcrumbs
    // ======= Portfolio Details Section =======
    section#portfolio-details.portfolio-details
      .container(data-aos='fade-up')
        .row.gy-4
          .col-lg-8
            .slides-1.portfolio-details-slider.swiper
              .swiper-wrapper.align-items-center
                .swiper-slide
                  img(src='assets/img/portfolio/app-1.jpg', alt='')
                .swiper-slide
                  img(src='assets/img/portfolio/product-1.jpg', alt='')
                .swiper-slide
                  img(src='assets/img/portfolio/branding-1.jpg', alt='')
                .swiper-slide
                  img(src='assets/img/portfolio/books-1.jpg', alt='')
              .swiper-pagination
          .col-lg-4
            .portfolio-info
              h3 Project information
              ul
                li
                  strong Category
                  | : Web design
                li
                  strong Client
                  | : ASU Company
                li
                  strong Project date
                  | : 01 March, 2020
                li
                  strong Project URL
                  | : 
                  a(href='#') www.example.com
            .portfolio-description
              h2 This is an example of portfolio detail
              p
                | Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
    // End Portfolio Details Section
  // End #main
  // ======= Footer =======
  include ./includes/footer
  // End Footer
  a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short